<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minton.system.dao.UserMapper">
    <select id="testSelect" resultType="String">
        SELECT USERNAME FROM SYS_USER WHERE USER_ID = 1;
    </select>

</mapper>